<!DOCTYPE html>
<html>
  <head>
    <title>Интернет-магазин Helen Shop: одежда, обувь, аксессуары</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <!-- TODO: move the header into separate component -->
    <%= render partial: 'reusable_partials/header' %>

    <main class="main u-clear">

      <div class="container u-clear">
        <!-- breadcrumb -->
        <div class="breadcrumb u-clear">
          <a class="breadcrumb__link" href="#">
            <%= t('general.women') %>
          </a>
          <a class="breadcrumb__link" href="#">
            <%= 'Clothing' %>
          </a>
          <a class="breadcrumb__link" href="#">
            <%= 'Dresses' %>
          </a>
          <a class="breadcrumb__link" href="#">
            <%= 'Casual' %>
          </a>
        </div>
        <%= yield %>
      </div>

    </main>

    <!--[if lt IE 10]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <![endif]-->
    <%= javascript_include_tag 'application' %>
  </body>
</html>
