<!DOCTYPE html>
<html>
  <head>
    <title>Интернет-магазин Helen Shop: одежда, обувь, аксессуары</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- TODO: move the header into separate component -->
    <%= render partial: 'reusable_partials/header' %>

    <main class="main u-clear">

      <div class="container u-clear">
        <!-- breadcrumb -->
        <div class="breadcrumb u-clear">
          <a class="breadcrumb__link" href="#">
            <%= t('general.women') %>
          </a>
          <a class="breadcrumb__link" href="#">
            <%= 'Clothing' %>
          </a>
          <a class="breadcrumb__link" href="#">
            <%= 'Dresses' %>
          </a>
          <a class="breadcrumb__link" href="#">
            <%= 'Casual' %>
          </a>
        </div>
        <%= yield %>
      </div>

    </main>
  </body>
</html>
